{% extends "base.twig" %}

{% block content %}
<div class="container mx-auto px-4 py-12">
    <article class="max-w-3xl mx-auto">
        <!-- Back to Blog Button -->
        <div class="mb-8 mt-16">
            <a href="/blog" class="font-micah text-lg underline hover:text-gray-600 transition-colors">
                back to blog
            </a>
        </div>

        {% if post.thumbnail.src %}
            <div class="mb-8">
                <img 
                    src="{{ post.thumbnail.src|resize(1200, 300) }}" 
                    alt="{{ post.title }}" 
                    class="w-full h-auto border border-black"
                >
            </div>
        {% endif %}

        <header class="mb-8 border border-black p-8">
            <h1 class="text-4xl font-micah mb-4">{{ post.title }}</h1>
            <div class="flex items-center gap-2 font-micah text-lg">
                {% if post.author %}
                    <span>By</span>
                    <p>
                        {{ post.author.name }}
                    </p>
                    <span>&bull;</span>
                {% endif %}
                <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">
                    {{ post.date|date('F j, Y') }}
                </time>
                {% if user.can_edit %}
                    <span>&bull;</span>
                    <a href="{{ post.edit_link }}" class="hover:text-gray-600 transition-colors underline">
                        edit
                    </a>
                {% endif %}
            </div>
        </header>

        <div class=" max-w-none post-content ">
            {{ post.content|raw }}
        </div>
                <div class="my-8">
            <a href="/blog" class="font-micah text-lg underline hover:text-gray-600 transition-colors">
                back to blog
            </a>
        </div>
    </article>
</div>
{% endblock %}